<div class="row">
	<div class="col-md-3 col-sm-4 col-xs-6">
		<h4>Surveys</h4>
		<div class="list-group">
			<a ui-sref="surveys.respond({id: publishedSurvey.id})" class="list-group-item" ng-repeat="publishedSurvey in surveys.publishedSurveys" ng-bind="publishedSurvey.name">				
			</a>
		</div>
		<hr/>		
		<h4>My Surveys</h4>
		<div class="list-group">
			<a ui-sref="surveys.edit({id: openSurvey.id})" class="list-group-item" ng-repeat="openSurvey in surveys.openSurveys" ng-bind="openSurvey.name"></a>
		</div>
		<button type="button" class="btn btn-primary" ui-sref="surveys.create">New Survey</button>
	</div>
	<div class="col-md-9 col-sm-8 col-xs-6" ui-view="">
	</div>
</div>
